@font-face {
    font-family: 'kawayi';
    src: url('xiaolaimono.ttf')  format('ttf'),
        url('xiaolaimono.woff')  format('woff'),
        url('xiaolaimono.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'hanyi';
    src: url('hy.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}